<!DOCTYPE html>
<html>
<head>
  <title>UK Parliament News</title>
  <style type="text/css">
    body {
      width: 384px;
      padding: 0px;
      margin: 0px;
      font-family:'Arial';
      margin-top: 10px;
      border-bottom: 2px solid black;
    }
    big {font-size: 26px;}
    small {font-size: 20px;}
    img {float:right;}
  </style>
</head>
<body>
<img src="http://ukpnews.herokuapp.com/icon.png">
<p>&nbsp;
<br><big>www.parliament.uk/<strong>news</strong></big></p>
	<p><small><b><%= @headline %></b></small>
	<br><small><%= @text %></small>
	<br><small><%= @published %></small></p>

	<p>&nbsp;
	<br><big>services.parliament.uk/<strong>calendar</strong></big></p>
    <% @events.each do |event| %>
      <p>
      <small><b><%= event[:subject] %></b></small><br>
      <small><%= event[:committee] %> (<%= event[:house] %> <%= event[:chamber] %>)</small><br>
      <small><%= event[:nicetime] %></small><br>
      
	  </p>
    <% end %>


</body>
</html>