<!DOCTYPE html>
<html>
<head>
  <title>UK Parliament News</title>
  <style type="text/css">
    body {
      width: 384px;
      padding: 0px;
      margin: 0px;
      font-family:'Arial';
      margin-top: 10px;
      border-bottom: 2px solid black;
    }
    big {font-size: 26px;}
    small {font-size: 20px;}
    img {float:right;}
    .dateline {xfloat:right;}
  </style>
</head>
<body>
<img src="http://ukpnews.herokuapp.com/icon.png">

	<p><big>www.parliament.uk/<strong>news</strong></big>
	<br><small><%= @published %></small></p>
	
	<p><big><%= @headline %></big>
	<br><small><%= @text %></small></p>

	<p><big>services.parliament.uk/<strong>calendar</strong></big>
    <br><small>Most recent updates</small>
    </p>
    
    <% @events.each do |event| %>
      <p>
      <big><%= event[:subject] %></big><br>
      <small><%= event[:committee] %> (<%= event[:house] %> <%= event[:chamber] %>)</small><br>
      <small><%= event[:nicetime] %></small><br>
      
	  </p>
    <% end %>


</body>
</html>